@charset "UTF-8";

body {
	background: silver;
}

.thumbnail {
	width : 240px;
	margin: 5px;
}

.error {
	font-size: 150%;
	color: red;
}

div.gallery_container {
	text-align: center;
}

div.gallery_container > div {
	display: inline-block;
	clear: both;
	width: 80%;
}

div.gallery {
	background: white;
}

div#controls {
	border: 2px solid black;
	background: white;
	display: inline-block;
	width: auto;
}

.option {
	padding: 5px;
	border-width: 3px;
	border-style: solid;
	border-color: black;
	clear: none;
	display: inline-block;
	margin: -2px;
	background: silver;
}